<div id="styleModal">
  <div id="styleFilter">
    <% Item.find_by_sql("SELECT DISTINCT style FROM items ORDER BY style").each do |style| %>
      <a href="/items/style/<%= style.style %>"><%= style.style %></a>
    <% end %>
    <br>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>

<div id="dateModal">
  <div id="dateFilter">
    <% Item.find_by_sql("SELECT DISTINCT yoc FROM items ORDER BY yoc").each do |date| %>
      <a href="/items/date/<%= date.yoc %>"><%= date.yoc %></a>
    <% end %>
    <br>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>

<div id="mediumModal">
  <div id="mediumFilter">
    <% Item.find_by_sql("SELECT DISTINCT medium FROM items ORDER BY medium").each do |medium| %>
      <a href="/items/medium/<%= medium.medium %>"><%= medium.medium %></a>
    <% end %>
    <br>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>

<div id="sizeModal">
  <div id="sizeFilter">
    <% Item.find_by_sql("SELECT DISTINCT size FROM items").each do |size| %>
      <a href="/items/size/<%= size.size %>"><%= size.size %></a>
    <% end %>
    <br>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>

<div id="recentDiv">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <!-- <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Wheat-Field-with-Cypresses-%281889%29-Vincent-van-Gogh-Met.jpg/1200px-Wheat-Field-with-Cypresses-%281889%29-Vincent-van-Gogh-Met.jpg', alt="Wheat-Field-with-Cypresses">
    </div>

    <div class="item">
      <img src='http://blog.warhol.org/wp-content/uploads/sites/3/2016/06/2001-2-1222_pub_01.jpg', alt="Muhammed-Ali">
      <%# image_tag '/assets/images/Muhammed-Ali.jpg' %>
    </div>

    <div class="item">
      <img src='http://www.artvalue.com/image.aspx?PHOTO_ID=4714879', alt="Warhol-Flowers">
      <%# image_tag '/assets/images/Warhol-Flowers.jpg' %>
    </div>

    <div class="item">
      <img src='https://upload.wikimedia.org/wikipedia/commons/5/5a/Jacques-Louis_David-_Andromache_Mourning_Hector.JPG', alt="Andromache_Mourning_Hector">
      <%# image_tag '/assets/images/Andromache_Mourning_Hector.jpg' %>
    </div>

    <div class="item">
      <img src='https://www.moma.org/wp/moma_learning/wp-content/uploads/2012/07/Matisee.-Landscape-at-Collioure-469x388.jpg', alt="Landscape-at-Collioure">
      <%# image_tag '/assets/images/Landscape-at-Collioure.jpg' %>
    </div>

    <!-- <div class="item">
      <%# image_tag @items[4].image %>
    </div>

    <div class="item">
      <%# image_tag @items[3].image %>
    </div>

    <div class="item">
      <%# image_tag @items[2].image %>
    </div> -->
</div>

<div class="body">
  <h2>Search By Category</h2>
  <div class="row">
    <div class="col-md-6">
      <div id="styleCatagory" onclick="styleModalShow()">
        <h3>Style</h3>
      </div>
      <div id="dateCatagory" onclick="dateModalShow()">
        <h3>Date</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div id="mediumCatagory" onclick="mediumModalShow()">
        <h3>Medium</h3>
      </div>
      <div id="sizeCatagory" onclick="sizeModalShow()">
        <h3>Size</h3>
      </div>
    </div>
  </div>

</div>
