<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @appraisal.id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @appraisal.item_id %>
</p>

<p>
  <strong>Previous owner:</strong>
  <%= @appraisal.previous_owner %>
</p>

<p>
  <strong>Value:</strong>
  <%= @appraisal.value %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @appraisal.condition %>
</p>

<p>
  <strong>Item:</strong>
  <%= @appraisal.item %>
</p>

<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
