<%= form_with(model: item, local: true, html: {multipart: true}) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%# form.label :id %>
    <%# form.number_field :id, id: :item_id %>
  </div> -->

  <div class="field">
    <%= form.text_field :title, id: :item_title, placeholder: 'Title' %>
  </div>

  <div class="field">
    <%= form.select :artist_id, options_for_select( Artist.all.map{|a| [a.full_name, a.id]}), id: :item_artist_id %>
  </div>

  <div class="field">
    <%= form.text_field :medium, id: :item_medium, placeholder: 'Medium' %>
  </div>

  <div class="field">
    <%= form.text_field :style, id: :item_style, placeholder: 'Style' %>
  </div>

  <!-- <div class="field">
    <%# form.number_field :size, id: :item_size, placeholder: 'Size' %>
  </div> -->

  <div class="field">
    <%= form.label :Size %><br />
    <%= radio_button_tag(:size, 0) %>
    <%= label_tag(:age_child, "Small") %>
    <%= radio_button_tag(:age, 1) %>
    <%= label_tag(:age_adult, "Medium") %>
    <%= radio_button_tag(:age, 2) %>
    <%= label_tag(:age_adult, "Large") %>
  </div>

  <!-- <div class="field">
    <%# form.number_field :status, id: :item_status, placeholder: 'Status (available or leased)' %>
  </div> -->

  <div class="field">
    <%= form.number_field :yoc, id: :item_yoc, placeholder: 'Year of Creation' %>
  </div>

  <div class="field">
    <%= form.text_field :origin_country, id: :item_origin_country, placeholder: 'Country of Origin' %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
