<%= form_with(model: item, local: true, html: {multipart: true}) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :item_id %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.number_field :artist_id, id: :item_artist_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :item_title %>
  </div>

  <div class="field">
    <%= form.label :medium %>
    <%= form.text_field :medium, id: :item_medium %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style, id: :item_style %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size, id: :item_size %>
  </div>

  <div class="field">
    <%= form.label :yoc %>
    <%= form.number_field :yoc, id: :item_yoc %>
  </div>

  <div class="field">
    <%= form.label :origin_country %>
    <%= form.text_field :origin_country, id: :item_origin_country %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.text_field :artist_id, id: :item_artist_id %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
