<!-- Browse -->
<div id="gallery">
<ul>
  <% @items.each do |item| %>
    <a href="/items/<%= item.id %>">
      <li class="galleryPic" style="background-image:url(<%= Item.find(item.id).picture %>)"></li>
      <li><%= item.id %></li>
      <li><%= item.title %></li>
      <li><%= item.artist.full_name %></li>
    </a>
  <% end %>
</ul>
</div>