<div id="picturePage">

<div id="itemPicture">
  <p>
    <%= image_tag @item.picture.url %>
  </p>
</div>

<p>
  <strong>Title:</strong><br />
  <%= @item.title %>
</p>

<p>
  <strong>Artist:</strong><br />
  <%= @item.artist.full_name %>
</p>

<p class="moreInfo">
  <strong>Year Of Creation:</strong><br />
  <%= @item.yoc %>
</p>

<p class="moreInfo">
  <strong>Origin Country:</strong><br />
  <%= @item.origin_country %>
</p>

<p class="moreInfo">
  <strong>Style:</strong><br />
  <%= @item.style %>
</p>

<p class="moreInfo">
  <strong>Medium:</strong><br />
  <%= @item.medium %>
</p>

<p class="moreInfo">
  <strong>Size:</strong><br />
  <%= @item.size %>
</p>

<button id="moreInfoButton" class="hideInfoButton" type="button">More Info</button><br /><br />

<button id="appraisalButton" type="button" onclick="showAppModal()">See Last Appraisal</button><br /><br />

<div id="modalBody">
  <div id="appraisalModal">
    Previous Owner: <%= @item.appraisals[0].previous_owner %>
    <br>
    Value: $<%= @item.appraisals[0].value %>
    <br>
    Condition: <%= @item.appraisals[0].condition %>
    <br>
    <button type="button" onclick="closeAppModal()">Close</button>
  </div>
</div>

<% if current_user && current_user.admin == true %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back To Gallery', items_path %>
<% else %>
  <%= link_to 'Back To Gallery', items_path %>
<% end %>
</div>
