<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @item.artist_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @item.medium %>
</p>

<p>
  <strong>Style:</strong>
  <%= @item.style %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Yoc:</strong>
  <%= @item.yoc %>
</p>

<p>
  <strong>Origin country:</strong>
  <%= @item.origin_country %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @item.artist %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
