<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :address, id: :sale_address, placeholder: 'City' %>
  </div>

  <div class="field">
    <%= form.number_field :lease_duration, id: :sale_lease_duration, placeholder: 'Lease Duration (Months)' %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: :sale_user_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :payment_amount, id: :sale_payment_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
