<div id="accountPage">
	<h1><%= current_user.full_name if current_user %></h1>
		<button id="editUserButton" class="hideEditButton" type="button">Edit Account Info</button><br />
			<div id="editUserDiv" class="hiddenForm">
				<h1>Edit Account Info</h1>
				<%= render 'edit' %>
			</div>
</div>
<div id="saleIndexDiv">
	<h1>Previously Leased Items</h1>
		<% @sales.each do |sale| %>
    		<% sale.items.each do |item| %>
					<% if current_user && current_user.id == sale.user_id %>
					<ul>
					<a href="/items/<%= item.id %>">
      					<li class="galleryPic" style="background-image:url(<%= Item.find(item.id).picture %>)">
      					<span class="galleryPicTitle"><%= item.title %></span><br />
      					<span class="galleryPicArtist"><%= item.artist.full_name %></span></li>
   					</a>
   					</ul>
						<br>
					<% end %>
    		<% end %>
		<% end %>
</div>