<div id="saleShowDiv">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>User:</strong>
    <%= @sale.user.full_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @sale.address %>
  </p>

 <!--  <p>
    <strong>Payment amount:</strong>
    <%# @sale.payment_amount %>
  </p> -->

  <p>
    <strong>Lease duration:</strong>
    <%= @sale.lease_duration %> Months
  </p>

  <p>Thank you for shopping with us!</p>

  <%= link_to 'Account Page', '/sales' %>
</div>
